html { -webkit-text-size-adjust: none; }
h1,h2,h3,h4,h5,h6 { color: #333; }
h1 { margin-bottom: 5px; font-size: 28px; line-height: 35px; }
h2 { margin-bottom: 5px; font-size: 30px; line-height: 35px; }
h3 { margin-bottom: 5px; font-size: 25px; line-height: 30px; color: #333; }
h4 { margin-bottom: 5px; font-size: 16px; line-height: 20px; color: #555; }
h5 { margin-bottom: 0; font-size: 13px; line-height: 25px; color: #777; }
h6 { margin-bottom: 5px; font-size: 16px; line-height: 25px; }
h4 small { font-weight: normal; font-size: 12px; color: #999; }
p,ul,ol,dl,table,div { font-size: 15px; line-height: 20px; color: #333; }
p, ul, ol, dl { margin-bottom: 18px; }
dl dt { font-size: 15px; }
dl dd { margin-bottom: 10px; padding: 0; font-size: 13px; line-height: 18px;}
strong { font-weight: bold; }
a { color: #2598db; }
code { font-size: 13px; }
pre code { display: block; margin: -11px 0; padding: 11px 10px; background: #eee; font-size: 12px; line-height: 22px; color: #333; overflow: auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
small { font-size: 12px; }
button {}
textarea { padding: 5px; border: 1px solid #ccc; background: #fff url(/images/field_bg.gif) repeat-x; font-family: 'Lucida Grande', arial, sans-serif; font-size: 13px; line-height: 18px; color: #333; }
input { padding: 5px; border: 1px solid #ccc; background: #fff url(/images/field_bg.gif) repeat-x; font-family: 'Lucida Grande', arial, sans-serif; font-size: 13px; color: #222; }
input[type=file] { background: none; padding: 0; border: none; }
button, input.button { background: none; font-family: 'Helvetica Neue', Arial, sans-serif; cursor: pointer; }
blockquote { margin: 0; padding: 0; }

table { width: 100%; font-size: 14px; }
table tr { border-bottom: 1px solid #eee; }
table th { vertical-align: top; font-size: 13px; color: #999; }
table td { padding: 2px 10px 2px 0; vertical-align: top; }
table td p { margin-bottom: 0; }

form fieldset { padding: 0; border: none; }
form table th { color: #555; }
form table td { padding: 5px 10px 5px 0; font-size: 12px; line-height: 16px;color: #777; }
form table td input, form table td select, form table td textarea { margin-bottom: 5px; }
form table td textarea { width: 100%; }
form table td input { width: 55%; }
form table tr.h { display:none; }
form table td span { font-weight: bold; }
form table tr.submit { border: none; }



/* BUTTONS */
a.button { padding: 4px 10px 5px 10px; width: 100px; background: #fff url(/images/button_bg.gif) left bottom repeat-x; border: 1px solid #ccc; font-size: 13px; line-height: 14px; font-weight: bold; color: #777; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
button { margin-right: 10px; padding: 4px 10px 5px 10px; width: auto; background: #fff url(/images/button_bg.gif) left bottom repeat-x; border: 1px solid #ccc; font-size: 13px; line-height: 14px; font-weight: bold; color: #777; text-align: center; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
a.button:hover, button:hover { background-image: url(/images/button_hover_bg.gif); background-color: #eee; border-color: #aaa; text-decoration: none; }
a.button:active, button:active { background-image: url(/images/button_click_bg.gif); background-color: #838383; color: #fff; }

a.alt_button { font-size: 13px; line-height: 25px; font-weight: bold; color: #aaa; text-align: center; }
a.alt_button:hover { color: #2598db; text-decoration: none; }
button.alt_button, input.alt_button { padding: 0; background: none; border: none; font: bold 13px/25px 'Helvetica Neue', arial, sans-serif; color: #ccc; text-align: center; cursor: pointer; }
button.alt_button:hover, input.alt_button:hover { color: #2598db; text-decoration: none; }

/* PROFILE BACKGROUNDS */
body#profile_1 { background: #f2f6a2 url(/images/backgrounds/green.gif) repeat-x; }
body#profile_2 { background: #18a7c0 url(/images/backgrounds/blue.gif) repeat-x; }
body#profile_3 { background: #ffb01d url(/images/backgrounds/orange.gif) repeat-x; }
body#profile_4 { background: #fff9cf url(/images/backgrounds/yellow.gif) repeat-x; }
body#profile_5 { background: #10c3de url(/images/backgrounds/purple.gif) repeat-x; }
body#profile_6 { background: #EAEADD url(/images/backgrounds/body-bg.png) repeat-x; }


/* HEADER */
#header { position: absolute; top: -301px; left: 0; padding: 0; width: 100%; height: 360px; background: #2c2c28; z-index: 999; }
#header .wrapper { position: relative; width: 980px; margin: 0 auto; padding: 0; }
#header .wrapper h1 { float: left; margin: 0; width: 180px; }
#header .wrapper h1 a { display: block; height: 59px; background: url(/images/kl.gif) no-repeat; overflow: hidden; text-indent: -1000px; }
#header .wrapper h1 a:hover { background-position: 0 -60px; }

#header .settings { float: left; margin: 0 230px 0 255px; width: 35px; }
#header .settings a { display: block; margin-top: 13px; width: 35px; height: 35px; background: url(/images/icons/toolbar_cog.gif) no-repeat; overflow: hidden; text-indent: -1000px; }
#header .settings a:hover { background-position: 0 -35px; }

#header .login_button a { background-image: url(/images/icons/toolbar_onoff.gif); }

#header .messages { position: relative; float: left; margin: 0 100px 0 0; width: 30px; }
#header .messages a { display: block; margin-top: 16px; width: 30px; height: 30px; background: url(/images/icons/toolbar_messages.gif) no-repeat; overflow: hidden; text-indent: -1000px; }
#header .messages a:hover { background-position: 0 -30px; }
#header .messages small { position: absolute; bottom: 0; right: -7px; display: block; padding: 0px 4px; background: #ff0000; border: 1px solid #b80000; font-size: 12px; font-weight: bold; line-height: 15px; color: #fff; -webkit-border-radius: 8px; }


/* BODY */
#body { position: relative; margin: 30px auto 0 auto; width: 980px; }
#body:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#body { zoom: 1; }


/* FOOTER */
#footer { position: relative; margin: 0 auto 100px auto; padding-left: 160px; width: 820px; }
#footer p.copyright { font-weight: bold; color: rgba(0, 0, 0, .4); }
#footer p.copyright a { margin: 0 10px 0 0; color: rgba(0, 0, 0, .4); }


/* FEEDBACK FORM */
.feedback_form { margin: 0 0 10px 0; padding: 15px 10px 5px 40px; background: #fff url(/images/feedback_quote.gif) 10px 15px no-repeat; border-top: 1px solid #ddd; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; }
.feedback_form p { margin-bottom: 5px; }
.feedback_form textarea { width: 568px; height: 100px; color: #777; }
.feedback_form textarea:focus { color: #333; }


/* CONTENT WRAPPER */
.content_wrapper { position: relative; float: left; width: 820px; min-height: 620px; background: #fff; zoom: 1; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; }
.content_wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/* CONTENT */
.content { float: left; padding: 20px; width: 600px; min-height: 420px; }


/* CONTENT SIDEBAR */
.content_sidebar { float: right; margin: 10px 10px 10px 0; padding: 10px 0; width: 170px; min-height: 600px; background: #eee; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.content_sidebar h3 { margin: 0; padding-left: 15px; border-bottom: 1px solid #ddd; font-size: 12px; line-height: 23px; color: #555; }
.content_sidebar ul { list-style: none; margin: 0 0 20px 0; padding: 0; font-size: 12px; font-weight: bold; line-height: 25px; color: #fff; }
.content_sidebar ul li a { display: block; padding: 0 15px; border-bottom: 1px solid #ddd; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.content_sidebar ul li a:hover { background-color: #ddd; text-decoration: none; color: #777; }
.content_sidebar ul li a:active { background: #838383 url(/images/button_click_bg.gif) left bottom repeat-x; color: #fff; }
.content_sidebar ul li a em { float: right; display: block; font-weight: normal; font-size: 11px; font-style: normal; }

.content_sidebar .cover { display: block; margin: 0 0 20px 0; padding: 5px 0 0 15px; background: none; }
.content_sidebar .cover img { width: 130px; padding: 5px; background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

.content_sidebar .book_list .book { margin-bottom: 20px; }
.content_sidebar .book_list h3 { border-bottom: 0; }
.content_sidebar .book_list p { margin: 0 0 10px 0; padding: 0 10px; font-size: 11px; line-height: 15px; color: #7d8186; text-align: center; }
.content_sidebar .book_list p a { display: inline; margin-bottom: 5px; padding: 0; color: #7d8186; }
.content_sidebar .book_list p a:hover { background: none; text-decoration: underline; }
.content_sidebar .book_list p img { display: block; margin: 0 0 5px 5px; padding: 5px; width: 130px; background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

.content_sidebar .book_status { margin: 5px 15px 10px 15px; width: 140px; }
.content_sidebar .book_status p a { padding: 6px 0; }
.content_sidebar .book_status ul { width: 130px; border: none; }
.content_sidebar .book_status ul li a { border-bottom: none; }

.content_sidebar .rating ul { margin: 0 auto; }
.content_sidebar .rating ul li a:active { background: url(/images/star.gif) 0 -30px no-repeat; }

.content_sidebar .on a,
body.user_book_detail .content_sidebar .reader_copy a,
body.reader_override_form .content_sidebar .edit_book a,
body.book_profile .content_sidebar .profile a,
body.book_readers .content_sidebar .readers a,
body.book_tumble .content_sidebar .tumble a,
body.book_notes .content_sidebar .notes a,

body.friends .content_sidebar .friends a,
body.fans .content_sidebar .fans a,
body.followers .content_sidebar .followers a,

body.profile_public .content_sidebar .profile_public a,
body.profile_form .content_sidebar .profile_form a,
body.book_import .content_sidebar .book_import a,
body.change_password .content_sidebar .change_password a,
body.find_friends .content_sidebar .find_friends a { background-color: #999; border-bottom: none; color: #fff; }

.content_sidebar .sidebar_button { margin: 0 15px 20px 15px; padding: 0; }
.content_sidebar .sidebar_button a { display: block; padding: 6px 0; width: auto; }


/* CONTENT TITLE */
.content_title { position: relative; margin-bottom: 10px; padding-bottom: 10px; }
.content_title:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.content_title h2 { margin-bottom: 2px; font-size: 22px; line-height: 26px; }
.content_title h2 em { font-style: normal; color: #999; }
.content_title h2 a { color: #333; }
.content_title h2 strong { color: #999; }
.content_title h3 { margin-bottom: 2px; font-size: 17px; line-height: 21px; font-weight: normal; color: #777; }
.content_title p { margin-bottom: 2px; font-size: 14px; line-height: 18px; color: #777; }
.content_title .book_status { position: absolute; top: 0; right: 0; }
.content_title .tabs { position: absolute; top: 0; right: 0; }
.content_title .view_type { position: absolute; top: 0; right: 0; }
.content_title .cover { float: left; margin-right: 10px; }


/* CONTENT CENTER */
.content_center { margin: 0 auto 20px auto; padding: 20px;  width: 500px;  background: #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; }
.content_center:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/* SIDEBAR */
.sidebar { float: left; margin-right: 20px; width: 140px; }
.sidebar .mugshot { display: block; margin-bottom: 10px; padding: 10px; width: 120px; height: 120px; background: url(/images/backgrounds/opaque_30.png); -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.sidebar .mugshot a { display: block; width: 120px; height: 120px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.sidebar .cover { display: block; margin-bottom: 10px; padding: 10px; width: 120px; background: url(/images/backgrounds/opaque_30.png); -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.sidebar .cover img { display: block; padding: 0; width: 120px; background-image: none; }
.sidebar h2 { margin-bottom: 0; font-size: 15px; line-height: 20px; color: rgba(0, 0, 0, .4); text-align: center; }
.sidebar ul { margin: 0 0 20px 0; padding: 0; list-style: none; font-size: 14px; font-weight: bold; line-height: 25px; text-align: center; }
.sidebar ul li { margin: 1px 0; }
.sidebar ul li a { display: block; color: #fff; }
.sidebar ul li a:hover { background: url(/images/nav_bg.png) no-repeat; text-decoration: none; }
.sidebar ul li form p { margin: 0; }
.sidebar ul li form input[type=hidden] { display: none; }

.sidebar .back { margin-bottom: 10px; font-size: 14px; font-weight: bold; line-height: 15px; text-align: center; }
.sidebar .back a { display: block; padding: 5px 10px; height: 15px; background: url(/images/back.png) no-repeat; color: #fff; }
.sidebar .back a:hover { background-position: 0 -25px; text-decoration: none; }

.sidebar p.login { margin-bottom: 10px; font-size: 14px; font-weight: bold; line-height: 15px; text-align: center; }
.sidebar p.login a { display: block; padding: 5px 10px; height: 15px; background: url(/images/nav_follow_bg.png) no-repeat; color: #fff; }

.sidebar ul li.on a { background: url(/images/nav_bg.png) no-repeat; }


/* MESSAGE */
.message { margin-bottom: 20px; padding: 10px;  background: #eefdc5; border: 1px solid #cfec7e; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.message p { margin-bottom: 5px; padding-bottom: 5px; font-size: 13px; line-height: 18px; border-bottom: 1px solid #cfec7e; color: #6a7941; }
.message p.last { margin-bottom: 0; padding-bottom: 0; border: none; }


/* ERRORS */
.errorlist { list-style: none; margin: 0; padding: 0; font-size: 13px; line-height: 18px; color: #ff0000; }
.error { font-size: 12px; color: #ff0000; }



/* SITE MESSAGE */
.site_message { margin-bottom: 20px; padding: 10px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.site_message p { margin: 0; }





