*.pyc
*~
.venv
tags
.secret
settings_local.py
dev_eng_words
media/admin
event.log
crosstips.org_googlemaps_api.key
*.log
*.pid
media/sparklines
fcgi_settings.py
local_settings.py
*.sql.done
gunicorn_settings.py
kill_gunicorn.sh
run_gunicorn.sh