<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
{% load i18n %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% trans "Crossword solver" %}{% endblock %}</title>  
  

  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/boilerplate.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/core.css" type="text/css" media="screen" charset="utf-8">
  
  <!--[if IE 7]><link rel="stylesheet" href="{{ MEDIA_URL }}/css/ie7.css" type="text/css" media="screen" charset="utf-8"><![endif]-->

{% block extracss %}
{% endblock %}
</head>

<body id="profile_5" class=" user_book_list">
  <div id="page">
  
{% comment %}    
    <div id="header">
      <div class="wrapper">
        <h1 class="brand"><a href="/">{% trans "Crossword solver" %}</a></h1>
      </div>
    </div>
{% endcomment %}    

    <div id="body">
      
        
          
          <div class="sidebar reader_sidebar">
            
            <ul>
	      <li class="on"><a href="/">Svenska</a></li>
              <li class=""><a href="/in/english" onclick="alert('Sorry. Not yet. Working on it');return false">English</a></li>
            </ul>
            
          </div>
        

        <div class="content_wrapper">
          <div class="content">
            

            
            <div class="content_title">
                <h2>{% trans "Crossword solver" %}</h2>
            </div>
            

            
{% block main %}
{% endblock %}
  
  

          </div>
          <div class="content_sidebar">
            
  <h3>{% trans "Statistics" %}</h3>
  <ul>
    <!--<li class="on"><a href="/y/books/">All books <em>8</em></a></li>-->
    <li><a>{% trans "Searches today" %} <em>{{ no_searches_today }}</em></a></li>
    <li><a>{% trans "Searches yesterday" %} <em>{{ no_searches_yesterday }}</em></a></li>
    <li><a>{% trans "Searches this week" %} <em>{{ no_searches_this_week }}</em></a></li>
    <li><a>{% trans "Searches this month" %} <em>{{ no_searches_this_month }}</em></a></li>
    <li><a>{% trans "Searches this year" %} <em>{{ no_searches_this_year }}</em></a></li>
    <li><a>{% trans "Total number of words" %} <em>{{ no_total_words }}</em></a></li>
  </ul>


          </div>
        </div>
      
    </div>

    
    <div id="footer">
      <form action="/feedback/" method="post" class="feedback_form" id="feedback">
        <p class="text"><textarea name="text" rows="8" cols="40" id="id_feedback">{% trans "Send suggestions, feedback or tips" %}</textarea></p>
        <table style="display:none">
          <tr>
            <td><label>{% trans "Your name:" %}</label> <sup>({% trans "optional" %})</sup></td>
            <td><input name="name" size="20" value="{{ cookie__name }}" /></td>
          </tr>
          <tr>
            <td><label>{% trans "Your email:" %}</label> <sup>({% trans "optional" %})</sup></td>
            <td><input name="email" size="20" value="{{ cookie__email }}" /></td>
          </tr>
          <tr class="h">
            <td><label>Your URL: <sup>(leave empty)</sup></label></td>
            <td><input name="url" size="30" value="" /></td>
          </tr>          
        </table>
        <p class="submit">
          <button type="submit" name="submit" value="Skicka feedback">{% trans "Send feedback" %}</button>
          <a href="#" class="alt_button">{% trans "Cancel" %}</a>
        </p>
      </form>

      <p class="copyright">
        <small>
          <a href="/">Korsordsl&ouml;saren &copy; 2009</a>
          <a href="http://www.peterbe.com">Peterbe.com</a>
          <a href="http://www.fry-it.com">Fry-IT</a>
          {% ifequal LANGUAGE_CODE "sv-SE" %}
          <a href="/om/krysstips">Om Krysstips</a>
          <a href="/om/dsso">Om DSSO</a>
          {% else %}
          <a href="/about/crosswordsolver">About Crossword solver</a>
          {% endifequal %}
        </small>
      </p>
    </div>
    
  
  </div>

<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery.site.js"></script>
{% block extrajs %}{% endblock %}
</body>
</html>

