{% extends base_template %}
{% load i18n %}
{% load highlighter %}
{% load django_slimmer %}

{% block title %}{% trans "Crossing the world" %}{% endblock %}

{% block pagetitle %}{% trans "Crossing the world" %}{% endblock %}
{% block pagetitletagline %}{% trans "Crosstips searches across the globe" %}{% endblock %}

{% block content_sidebar_outer %}{% endblock %}


{% block extrajs %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLEMAPS_API_KEY }}&amp;sensor=false"
        type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% slimfile "/javascript/crossing-the-world.js" %}"></script>
            
{% endblock %}

{% block extrabody %}onunload="GUnload()"{% endblock %}

{% block main %}
<div id="map_canvas" style="width: 780px; height: 600px"></div>


<form action="">
<input type="hidden" name="start_place" id="id_start_place"
{% ifequal request.LANGUAGE_CODE 'en-gb' %}
value="uk"
{% else %}
{% ifequal request.LANGUAGE_CODE 'en-us' %}
value="us"
{% endifequal %}
{% endifequal %}
/>
</form>

<br/>
<p style="font-size:10px">
<span id="searches_rate_wrapper" style="display:none">
{% trans "Current rate:" %} 
<span id="id_searches_rate">&nbsp;</span> {% trans "searches/minute" %}
</span>
<br/>
This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com/">http://www.maxmind.com/</a>.
</p>

{% endblock %}