{% extends base_template %}
{% load i18n %}

{% block main %}
<h3 align="center">{% trans "Thank you!" %}</h3>

<p align="center">
{% blocktrans %}
Feedback sent. Thank you very much!
{% endblocktrans %}
</p>

<p align="center">
<a id="go-back" href="/">{% trans "Go back to the Crossword solver" %}</a>
</p>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
  setTimeout(function() {
    window.location.href = $('#go-back').val();
  }, 10*1000);
});
</script>
{% endblock %}