<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Korsordsl&ouml;saren{% endblock %}</title>
<link href="{{ MEDIA_URL }}/css/style.css" rel="stylesheet" type="text/css" />
{% block extracss %}
{% endblock %}
</head>
<body>
{% block main %}
{% endblock %}

<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/javascript/jquery.form.js"></script>
{% block extrajs %}{% endblock %}
</body>
</html>