{% extends base_template %}
{% load i18n %}
{% load highlighter %}
{% load django_slimmer %}

{% block extracss %}
<style type="text/css">
{% slimcontent %}
#allslots {
  padding:0; margin:0;
}
div.sugg {
  line-height:150%;
}
div.sugg span {
  font-family:"courier new",courier;
  padding:0px 5px;
  font-size:18px;
  border:1px solid #ccc;
}
span.match {
  font-weight:bold;
}
div.error {
  font-weight:bold;
  color:red;
}
a.clear-search { font-size:80%;}
{% endslimcontent %}
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}{% slimfile "/javascript/solve.js" %}"></script>
{% endblock %}

{% block main %}

<form action="./" id="solutions">
<p>
  <label for="id_length">{% trans "Length" %}:</label>
  <input id="id_length" name="l" size="2" maxlength="2" autocomplete="off" value="{{ length }}"/><br/>
  
  <label>{% trans "Slots" %}:</label>
  <span id="allslots">
  {% for letter in slots %}<input name="s" value="{{ letter }}" size="1" maxlength="1"/>{% endfor %}
  </span>
  <br/>
  <input type="submit" value="S&ouml;k"/> 
  <img id="loading" style="display:none" src="{% slimfile "/images/loading-bar.gif" %}" alt="Laddar" width="150" height="15"/>
  <a href="./" id="clear-search" style="display:none">{% trans "clear search" %}</a>
</p>
</form>

<div id="error__no_s" class="error" style="display:none">
{% trans "No letters all?" %}
</div>


<div id="matches"></div>
<div id="alternatives"></div>

{% comment %}
{% if alternatives %}
  <p>{{ alternatives_count }} matches:<br/>
    {% for alternative in alternatives %}
      <span class="sugg">{{ alternative.word|highlight_suggestion:search|safe }}</span><br/>
    {% endfor %}
  </p>
{% endif %}
{% endcomment %}

{% endblock %}