{% extends base_template %}
{% load i18n %}
{% load django_slimmer %}


{% block main %}
<h3>{% trans "Statistics Uniqueness" %}</h3>

<br/>
<br/>
<br/>
<p><strong>Since {{ since|date:"jS F Y" }}...</strong></p>

<dl>
  <dt>Number searches:</dt>
  <dd>{{ no_searches }}</dd>
  
  <dt>Number searche<em>r</em>s:</dt>
  <dd>{{ no_searchers }}</dd>
  
  <dt>Number searchers doing one search only:</dt>
  <dd>{{ no_one_search }}</dd>

  <dt>Average number of searches per searcher:</dt>
  <dd>{{ average|floatformat }}</dd>

  <dt>Median number of searches per searcher:</dt>
  <dd>{{ median }}</dd>

</dl>
<br/>
<p style="font-size:80%">Statistics updated once a day.</p>

<p style="font-size:80%;padding-top:60px">
<a href="/statistics/calendar/">{% trans "Statistics Calendar" %} >&gt;&gt;</a><br/>
<a href="/statistics/graph/">{% trans "Statistics Graph" %} >&gt;&gt;</a><br/>
<a href="/">&lt;&lt; {% trans "Go back to home page" %}</a>
</p>

{% endblock %}
