{% extends base_template %}
{% load i18n %}
{% load django_static %}

{% block title %}{% if html_title %}{{ html_title }}{% else %}{% trans "Statistics Graph" %}{% endif %} - {% trans "Crosstips" %}{% endblock %}

{% if html_title %}
{% block meta_content %}{{ html_title }}{% endblock %}
{% endif %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}{% staticfile "/css/ui.daterangepicker.css" %}" type="text/css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/cupertino/jquery-ui.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}

{% if html_title %}
<h3>{{ html_title }}</h3>
{% else %}
<h3>{% trans "Statistics Graph" %}</h3>
{% endif %}



<div id="placeholder" style="width:550px;height:300px;"></div>

<br/>
<!--<p>{% trans "Searches per day" %}</p>-->

{% if daterange %}
{% else %}
{# <div id="overview" style="margin-left:50px;margin-top:20px;width:400px;height:50px"></div> #}
{% endif %}



<form action=".">
  <p>
  <label>Date or date range:</label>
  <input name="daterange" value="{% if daterange %}{{ daterange }}{% endif %}" size="40" />
  <input type="submit" value="{% trans "Redraw" %}"/>
  </p>

<label>{% trans "Language(s):" %}</label>
{% for option in language_options %}
<input type="checkbox" name="languages" value="{{ option.code }}" onchange="this.form.submit()"
       {% if option.checked %}checked="checked"{% endif %}/>
{{ option.label }}
&nbsp;
{% endfor %}

</form>

<br/><br/>


{% if search_types_pie or search_languages_pie %}
<br/><br/>
<h3>More statistics</h3>
{% endif %}

{% if search_types_pie %}
<h4>{% trans "Search type" %}</h4>
<p><img src="{{ search_types_pie }}" alt="{% trans "Types of search used here" %}" /></p>
{% endif %}

{% if search_languages_pie %}
<h4>{% trans "Language" %}</h4>
<p><img src="{{ search_languages_pie }}" alt="{% trans "Language used to search" %}" /></p>
{% endif %}

{% if search_lengths_bar %}
<h4>{% trans "Word length" %}</h4>
<p><img src="{{ search_lengths_bar }}" alt="{% trans "Length of word searched for" %}" /></p>
{% endif %}



<p style="font-size:80%;padding-top:60px">
<a href="/statistics/calendar/">{% trans "Statistics Calendar" %} >&gt;&gt;</a><br/>
<a href="/">&lt;&lt; {% trans "Go back to home page" %}</a>
</p>

{% endblock %}

{% block extrajs %}
<!--[if IE]><script language="javascript" type="text/javascript" src="{% staticfile "/javascript/excanvas.min.js" %}"></script><![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "/javascript/jquery.flot.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "/javascript/jquery-ui-1.7.1.custom.min.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}{% staticfile "/javascript/daterangepicker.jQuery.js" %}"></script>
<script type="text/javascript">
var datepicker_options = {{ datepicker_options|safe }};

$(function() {
    var d = {{ stats_json }};

    // first correct the timestamps - they are recorded as the daily
    // midnights in UTC+0100, but Flot always displays dates in UTC
    // so we have to add one hour to hit the midnights in the plot
    for (var i = 0; i < d.length; ++i)
      d[i][0] += 60 * 60 * 1000;

    // helper for returning the weekends in a period
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }
    
    var options = {
        xaxis: { mode: "time" },
        selection: { mode: "x" },
        grid: { markings: weekendAreas }
    };
    
    var plot = $.plot($("#placeholder"), [d], options);
    
    /*
    var overview = $.plot($("#overview"), [d], {
        lines: { show: true, lineWidth: 1 },
        shadowSize: 0,
        xaxis: { ticks: [], mode: "time" },
        yaxis: { ticks: [], min: 0, max: 4000 },
        selection: { mode: "x" }
    })
    */;

    // now connect the two
    
    $("#placeholder").bind("plotselected", function (event, ranges) {
        // do the zooming
        plot = $.plot($("#placeholder"), [d],
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));
        /*
        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
        */
    });
    
    /*
    $("#overview").bind("plotselected", function (event, ranges) {
        plot.setSelection(ranges);
    });
    */
    
    $('input[name="daterange"]').daterangepicker(datepicker_options);

});
</script>
{% endblock %}