{% extends base_template %}
{% load i18n %}

{% block extracss %}
<style type="text/css">
table.month tr th.month { font-size:120%; text-align:center; }
table.month tr td.today { background-color:#efefef; }
table.month tr td { color:#999; font-size:80%; height:70px;}
table.month tr td p.count { color:black; font-size:180%; font-weight:bolder; text-align:center; }
</style>
{% endblock %}

{% block main %}
<h3>{% trans "Statistics Calendar" %}</h3>


<form action=".">
{{ html_calendar|safe }}
<input type="hidden" name="month" value="{{ month }}"/>
<input type="hidden" name="year" value="{{ year }}"/>
<label>{% trans "Language(s):" %}</label>
{% for option in language_options %}
<input type="checkbox" name="languages" value="{{ option.code }}" onchange="this.form.submit()"
       {% if option.checked %}checked="checked"{% endif %}/>
{{ option.label }}
&nbsp;
{% endfor %}
</form>

<br/><br/>

<p style="font-size:80%;padding-top:60px">
<a href="/">&lt;&lt; {% trans "Go back to home page" %}</a>
</p>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
  //
});
</script>
{% endblock %}